<div class="min-h-screen bg-gray-50">
  <!-- Sidebar -->
  <app-sidebar *ngIf="!isMobile"></app-sidebar>

  <!-- Header -->
  <app-header></app-header>

  <!-- Main Content -->
  <main
    class="transition-all duration-300 ease-in-out p-5 min-h-screen"
    [class.ml-72]="!isCollapsed && !isMobile"
    [class.ml-20]="isCollapsed && !isMobile"
    [class.ml-0]="isMobile"
  >
    <router-outlet></router-outlet>
  </main>

  <app-delete-confirmation></app-delete-confirmation>
  <app-toast></app-toast>
</div>