<form [formGroup]="form" (ngSubmit)="submit()">
  <div [class]="className">
    @for (field of visibleFields(); track field.name) {
      <div [class]="field.className">
        <label class="block mb-1 font-medium">{{ field.label }}</label>

        <!-- TEXT -->
        @if (field.type === 'text') {
          <input
            pInputText
            [formControlName]="field.name"
            [placeholder]="field.label"
            [disabled]="field.disabled"
            class="w-full"
            (blur)="form.get(field.name)?.markAsTouched()"
          />
        }

        <!-- NUMBER -->
        @if (field.type === 'number') {
          <p-inputNumber
            [formControlName]="field.name"
            [disabled]="field.disabled"
            class="w-full"
            (onBlur)="form.get(field.name)?.markAsTouched()"
          ></p-inputNumber>
        }

        <!-- PASSWORD -->
        @if (field.type === 'password') {
          <p-password
            toggleMask
            [formControlName]="field.name"
            [disabled]="field.disabled"
            (onBlur)="form.get(field.name)?.markAsTouched()"
          ></p-password>
        }

        <!-- DATE -->
        @if (field.type === 'date') {
          <p-datePicker
            [formControlName]="field.name"
            [disabled]="field.disabled"
            (onBlur)="form.get(field.name)?.markAsTouched()"
          ></p-datePicker>
        }

        <!-- TEXTAREA -->
        @if (field.type === 'textarea') {
          <textarea
            pTextarea
            rows="4"
            [formControlName]="field.name"
            [disabled]="field.disabled"
            class="w-full"
            (blur)="form.get(field.name)?.markAsTouched()"
          ></textarea>
        }

        <!-- CHECKBOX -->
        @if (field.type === 'checkbox') {
          <p-checkbox
            binary="true"
            [formControlName]="field.name"
            [disabled]="field.disabled"
          ></p-checkbox>
        }

        <!-- SWITCH -->
        @if (field.type === 'switch') {
          <p-toggleSwitch
            [formControlName]="field.name"
            [disabled]="field.disabled"
          ></p-toggleSwitch>
        }

        <!-- SELECT -->
        @if (field.type === 'select') {
          <p-select
            [options]="field.options"
            [formControlName]="field.name"
            [disabled]="field.disabled"
            [optionLabel]="field.optionLabel ?? 'id'"
            class="w-full"
            appendTo="body"
            (onBlur)="form.get(field.name)?.markAsTouched()"
          ></p-select>
        }

        <!-- SERVER SELECT -->
        @if (field.type === 'server-select') {
          <app-single-select
            [url]="field.url"
            [disabled]="field.disabled"
            [optionLabel]="field.optionLabel ?? 'id'"
            [optionValue]="field.optionValue ?? 'name'"
            (valueChange)="handleSelectChange(field, $event)"
          ></app-single-select>
        }

        <!-- MULTI SELECT -->
        @if (field.type === 'multi-select') {
          <app-multi-selected
            [url]="field.url ?? ''"
            [disabled]="field.disabled"
            [optionLabel]="field.optionLabel ?? 'id'"
            (valueChange)="handleSelectChange(field, $event)"
          ></app-multi-selected>
        }

        <!-- FILE -->
        @if (field.type === 'file') {
          <input
            type="file"
            (change)="form.get(field.name)?.setValue($any($event.target).files[0])"
            [disabled]="field.disabled"
          />
        }

        <!-- DIV (Label only) -->
        @if (field.type === 'div') {
          <p>{{ field.label }}</p>
        }

        <!-- ERROR MESSAGES -->
        @if (isInvalid(field.name)) {
          <div class="text-red-600 text-sm mt-1">
            @if (form.get(field.name)?.errors?.['required']) {
              <small>{{ field.label || field.name }} is required</small>
            }

            @if (form.get(field.name)?.errors?.['minlength']) {
              <small>
                Minimum length is
                {{ form.get(field.name)?.errors?.['minlength'].requiredLength }}
              </small>
            }

            @if (form.get(field.name)?.errors?.['maxlength']) {
              <small>
                Maximum length is
                {{ form.get(field.name)?.errors?.['maxlength'].requiredLength }}
              </small>
            }

            @if (form.get(field.name)?.errors?.['pattern']) {
              <small>Invalid format</small>
            }

            @if (form.get(field.name)?.errors?.['min']) {
              <small> Minimum value is {{ form.get(field.name)?.errors?.['min'].min }} </small>
            }

            @if (form.get(field.name)?.errors?.['max']) {
              <small> Maximum value is {{ form.get(field.name)?.errors?.['max'].max }} </small>
            }
          </div>
        }
      </div>
    }
  </div>

  <!-- SUBMIT BUTTON -->
  <div class="mt-4">
    <button pButton type="submit" label="Submit" [loading]="loading" [disabled]="loading"></button>
  </div>

  <!-- PROGRESS BAR -->
  @if (progress) {
    <p-progressBar [value]="percent"></p-progressBar>
  }
</form>
