
@if(visible){
<p-dialog
  [visible]="visible"
  [modal]="true"
  [closable]="false"
  [draggable]="draggable"
  [resizable]="false"
  [styleClass]="widthClass + ' ' + heightClass"
>

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <div class="flex justify-between items-center w-full">
      <h3 class="text-lg font-semibold">{{ title }}</h3>

      <!-- X BUTTON -->
      <button
        type="button"
        (click)="closeClicked()"
        class="text-gray-500 hover:text-red-600 text-xl font-bold"
      >
        ×
      </button>
    </div>
  </ng-template>

  <!-- BODY -->
  <div class="">
    <ng-content></ng-content>
  </div>

</p-dialog>
}

