@if(visible){
<p-dialog
  [visible]="visible"
  [modal]="true"
  [closable]="true"
  [draggable]="draggable"
  [resizable]="false"
  [styleClass]="widthClass + ' ' + heightClass"
  [contentStyle]="{ 'overflow-y': 'auto', 'max-height': 'calc(100vh - 150px)' }"
  (onHide)="closeClicked()"
>

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <div class="flex justify-between items-center w-full">
      <h3 class="text-lg font-semibold">{{ title }}</h3>
    </div>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body">
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
  </ng-template>

</p-dialog>
}
