<div
  class="flex flex-col items-center justify-center"
  [ngClass]="{
    'py-16': size === 'default',
    'py-12': size === 'sm',
    'py-10': size === 'xs',
  }"
>
  <div class="relative">
    <div
      class="animate-spin rounded-full border-4 border-gray-200"
      [ngClass]="{
        'h-12 w-12': size === 'default',
        'h-10 w-10': size === 'sm',
        'h-8 w-8': size === 'xs',
      }"
    ></div>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 animate-spin rounded-full border-4 border-blue-600 border-t-transparent"
      [ngClass]="{
        'h-8 w-8': size === 'default',
        'h-6 w-6': size === 'sm',
        'h-5 w-5': size === 'xs',
      }"
    ></div>
  </div>
  <p
    class="mt-4 text-gray-600 font-medium"
    [ngClass]="{
      'text-base': size === 'default',
      'text-sm': size === 'sm',
      'text-xs': size === 'xs',
    }"
  >
    Loading data...
  </p>
</div>
